.reviewCard {
  display: flex;
  width: 430px;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: var(--color-accent);
  background-color: var(--color-white-light);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 16px;
}

.reviewContent {
  flex: 1;
}

.reviewHeader {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 4px;
}

.rating {
  display: flex;
  gap: 4px;
}

.filledStar {
  fill: var(--color-highlight);
  stroke: var(--color-highlight);
}

.emptyStar {
  fill: var(--color-white-dark);
  stroke: var(--color-white-dark);
}

.reviewText {
  line-height: 1.4;
  color: var(--color-secondary);
  text-align: left;
}

.reviewUserInfo {
  display: flex;
  gap: 16px;
  align-items: center;
}
