.homeContainer {
  background-image: url("../../assets/images/homeBackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 65px;
  color: var(--color-primary);
}

.contentWrapper {
  width: 1312px;
  margin: 0 auto;
  margin-top: 118px;
}

.textSection {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 560px;
}

.descriptionText {
  font-size: 33px;
  line-height: 40px;
  white-space: pre-wrap;
  cursor: default;
}

.highlightedText {
  font-style: italic;
  color: var(--color-accent);
}

.buttonLink {
  font-size: 18px;
}
