:root {
  --color-primary: #101828;
  --color-secondary: #475467;
  --color-accent: #e44848;
  --color-highlight: #ffc531;
  --color-white-dark: #f2f4f7;
  --color-white-light: #f7f7f7;
  --color-white: #fff;
  --color-hover-button: #d84343;
  --board-hover-button: "1px solid #E44848";
  /* --transition-color-color: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
