:root {
  --color-primary: #101828;
  --color-secondary: #475467;
  --color-accent: #e44848;
  --color-highlight: #ffc531;
  --color-white-dark: #f2f4f7;
  --color-white-light: #f7f7f7;
  --color-white: #fff;
  --color-hover-button: #d84343;
  --border-button: 1px solid rgba(71, 84, 103, 0.2);
  --border-hover-button: 1px solid #e44848;
}
