.cont {
  height: 358px;
  width: 888px;
  padding: 24px;
  border-radius: 20px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  display: flex;
  gap: 24px;
  transition: box-shadow 0.3s ease;
}

.cont:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img {
  width: 290px;
  height: 310px;
  border-radius: 10px;
  background-color: rgba(16, 24, 40, 0.2);
  object-fit: cover;
  object-position: 70% 60%;
}

.content {
  display: flex;
  flex-direction: column;
  height: 310px;
}

.firstSec {
  display: flex;
  font-size: 24px;
  font-weight: 600;
  justify-content: space-between;
  margin-bottom: 8px;
}

.firstSec > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 350px;
}

.favCont {
  display: flex;
  gap: 9px;
}

.iconCont {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.iconCont:hover {
  transform: scale(1.2);
}

.iconHeart {
  stroke: var(--color-primary);
  fill: none;
}

.iconFavorite {
  fill: var(--color-accent);
  stroke: none;
}

.secondSec {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.rating {
  display: flex;
  gap: 4px;
  text-decoration: underline;
  align-items: center;
}

.location {
  display: flex;
  gap: 4px;
  align-items: center;
}

.description {
  color: rgba(71, 84, 103, 1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 525px;
  margin-bottom: 24px;
}

.features {
  width: 526px;
  height: 96px;
  background-color: rgba(16, 24, 40, 0.2);
  margin-bottom: 24px;
}

.featuresList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}

.feature {
  padding: 12px 18px;
  background-color: #f2f4f7;
  border: none;
  border-radius: 100px;
  width: max-content;
  display: flex;
  gap: 8px;
  font-weight: 500;
}

.text {
  text-transform: capitalize;
}

.showMoreBtn {
  margin-top: auto;
}
